<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <main class="container-lg">
      <h1>Lista de usuarios con los que tiene mensajes privados</h1>
      <br />
      <%- include('./partials/msgtable'); %>
    </main>
  </body>

  <footer class="fixed-bottom"><%- include('./partials/footer'); %></footer>
</html>
