
<div class="user fade" tabindex="-1" aria-hidden="true" id="generalUser">
  <div class="user-dialog">
    <div class="user-content">
      <div class="user-header">
        <h5 class="user-title">Usuario</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="user"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="user-body">
        <form>
          <div class="mb-3">
            <label for="username" class="col-form-label">Nombre de usuario:</label>
            <input
              type="text"
              class="form-control rounded-element"
              id="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="firstName" class="col-form-label">Nombre:</label>
            <input
              type="text"
              class="form-control rounded-element"
              id="firstName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="col-form-label">Apellidos:</label>
            <input
              type="text"
              class="form-control rounded-element"
              id="lastName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="dateOfBirth" class="col-form-label"
              >Fecha de nacimiento:</label
            >
            <input
              class="form-control rounded-element"
              id="dateOfBirth"
              required
            ></input>
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label"
              >Contraseña:</label
            >
            <input
              class="form-control rounded-element"
              id="password"
              required
            ></input>
          </div>
        </form>
      </div>
      <div class="user-footer">
        <button
          type="button"
          class="btn btn-light rounded-element"
          data-dismiss="user"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-dark rounded-element">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>