<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar un unevo data set</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/addDataset" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="dsName" class="col-form-label">Nombre:</label>
            <input
              type="text"
              class="form-control rounded-element"
              id="dsName"
              name="dsName"
              placeholder="Nombre del dataset"
              required
            />
          </div>
          <div class="mb-3">
            <label for="dsdescription" class="col-form-label"
              >Descripción:</label
            >
            <textarea
              class="form-control rounded-element"
              id="dsdescription"
              name="dsdescription"
              placeholder="Descripción del dataset"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="imgFile" class="col-form-label">Imagen:</label>
            <input
              type="file"
              class="form-control rounded-element"
              id="imgFile"
              name="imgFile"
            />
          </div>
          <div class="mb-3">
            <label for="dsfile" class="col-form-label">Archivo:</label>
            <input
              type="file"
              name="file"
              class="form-control rounded-element"
              id="dsfile"
              required
            />
          </div>

          <div class="mb-3 flex-end">
            <button
              type="button"
              class="btn btn-light rounded-element"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-dark rounded-element">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
