<table class="table table-striped margin-y">
  <tr>
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha Inclusión</th>
    <th>Imagen</th>
    <th>Tamaño</th>
    <th></th>
  </tr>
  <tr>
    <td><a href="/user">Usuario #1</a></td>
    <td><a href="/dataset">Ejemplo #1</a></td>
    <td>Ejemplo #1</td>
    <td>Ejemplo #1</td>
    <td>Ejemplo #1</td>
    <td>Ejemplo #1</td>

    <td>
      <button class="button-transparent">
        <i class="fa-solid fa-download"></i>
      </button>
    </td>
  </tr>
</table>
