<div class="ds-data border-bottom pb-3 scroll-container">
  <h3>Descripción</h3>
  <p><%= datasetData.descripcion %></p>
  <h3>Vista previa</h3>
  <pre class="pre-background">
    <code>
        <%= preview %>
    </code>
    </pre>

  <% if (files.image_type != null && (files.image_type === 'image/png' ||
  files.image_type === 'image/jpeg')) { %>
  <h3>Imagen</h3>
  <img
    src="data:<%= files.image_type %>;base64,<%= files.image_data.toString('base64') %>"
    class="image-lg rounded-4"
    alt="Imagen"
  />
  <% } %>
</div>
