<div class="ds-data border-bottom">
  <h3>Descripción</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quam
    repudiandae sapiente, reprehenderit ipsa dolore, inventore blanditiis
    voluptas ex assumenda nesciunt nobis temporibus consequatur! Quisquam
    dolorum repudiandae, atque deleniti voluptatem rerum dolore labore sunt
    mollitia. Officiis illo autem, temporibus adipisci aut quibusdam tenetur
    doloremque molestiae praesentium quas porro eius maxime eligendi aliquam
    ratione quidem voluptatibus explicabo dolores facilis! Culpa aliquam vel,
    ipsam vero praesentium atque labore nostrum assumenda quo unde, expedita
    quidem recusandae. Nobis sunt, quidem pariatur enim optio nihil, facere,
    doloribus corporis omnis necessitatibus dolor accusantium? Cupiditate sint
    dignissimos dolorem nesciunt modi, fugit, mollitia iusto officiis provident
    est error.
  </p>
  <h3>Vista previa</h3>
  <pre class="pre-background">
    <code>
        {
        "glossary": {
            "title": "example glossary",
            "GlossDiv": {
                "title": "S",
                "GlossList": {
                    "GlossEntry": {
                        "ID": "SGML",
                        "SortAs": "SGML",
                        "GlossTerm": "Standard Generalized Markup Language",
                        "Acronym": "SGML",
                        "Abbrev": "ISO 8879:1986",
                        "GlossDef": {
                            "para": "A meta-markup language, used to create markup languages such as DocBook.",
                            "GlossSeeAlso": ["GML", "XML"]
                        },
                        "GlossSee": "markup"
                    }
                }
            }
        }
    }
    </code>
    </pre>
</div>
