<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-custum"
>
  <div class="container-xxl">
    <a href="/" class="navbar-brand">
      <img
        src="/images/sharedatas-logo.png"
        alt="Logo de la aplicacion"
        height="45"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow align-items-end">
        <li class="nav-item dropdown">
          <a
            href="/modal"
            class="nav-link icon"
            id="navbarDropdown"
            role="button"
            data-toggle="modal"
            data-target="#notificationModal"
            ><i class="fa-solid fa-bell"></i
          ></a>
        </li>

        <li class="nav-item dropdown">
          <a
            href="/conversations"
            class="nav-link icon"
            id="navbarDropdown"
            role="button"
          >
            <i class="fa-solid fa-message"></i
          ></a>
        </li>

        <li class="nav-item dropdown">
          <a 
            href="/generaluser"
            class="nav-link icon" 
            id="navbarDropdown" 
            role="button"
            data-toggle="user"
            data-target="#gen_user"
          >
            <i class="fa-solid fa-user"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>

  <%- include('./notifmodal'); %>
</nav>

