<div class="border-bottom my-2">
  <%- include('./usr', {suser: 'usuario3'}); %>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nesciunt ad
    qui vitae quibusdam saepe?
  </p>
</div>
